@import url('https://fonts.googleapis.com/css?family=Work+Sans:900');
.bg {
    background-image: url("../img/sunflowers2.jpg");
    background-size: cover;
    overflow:auto;
}
\
.nav-title {
    color:#FAFAD2;
    font-size:1.4em;
    font-weight:bold;
}


.title {
    font-family: 'Work Sans', sans-serif;
    font-size:2.8em;
    text-align: center;
    color:white;
    font-weight:bold;
    letter-spacing: .1em;
    text-shadow: 4px 4px 12px Black;

}
.title2 {
    font-family: 'Work Sans', sans-serif;
    font-size:1.6em;
    text-align: center;
    color:white;
    letter-spacing: .25em;
    text-shadow: 2px 2px 8px Black;
}

@include media-breakpoint-up(md) {
    .title {
      font-size: 1em;
    }
  }